In [19]:
import numpy as np
import pandas as pd

In [20]:
path1 = "./full stock list.csv"

df_inv = pd.read_csv(path1)  
df_inv.head()

,Name,Ticker,Exchange,Type,Market,ISIN,CUSIP
0,Advanced Micro Devices Inc,AMD,NASDAQ,Equity,United States,US0079031078,007903107
1,Apple Inc,AAPL,NASDAQ,Equity,United States,US0378331005,037833100
2,Amazon.com Inc,AMZN,NASDAQ,Equity,United States,US0231351067,023135106
3,NVIDIA Corporation,NVDA,NASDAQ,Equity,United States,US67066G1040,67066G104
4,Ford Motor Company,F,NYSE,Equity,United States,US3453708600,345370860

In [21]:
path = "/Users/caichengyun/Documents/User/Documents/Master/Intern/Global AI/Projects/Stock_Metadata/ISIN_from_IB.csv"

df_IB = pd.read_csv(path)  
df_IB

,Ticker,Name-IB,Country-IB,Exchange-IB,Currency-IB,ISIN-19.7,ISIN-IB
0,1ST,1ST GROUP LTD,Australia,ASX,AUD,NaN,AU0000001ST0
1,TWOU,2U INC,United States of America,NASDAQ,USD,NaN,NaN
2,DDDX,3DX INDUSTRIES INC,United States of America,PINK,USD,NaN,NaN
3,MMM,3M CO,Mexico,US Exchange,NaN,NaN,NaN
4,88E,88 ENERGY LTD,United Kingdom,LSE,GBP,AU00000088E2,AU00000088E2
...,...,...,...,...,...,...,...
19731,ZYNE,ZYNERBA PHARMACEUTICALS INC,United States of America,NASDAQ,USD,NaN,NaN
19732,ZYXI,ZYNEX INC,United States of America,NASDAQ,USD,NaN,NaN
19733,ZNGA,ZYNGA INC - CL A,Switzerland,NASDAQ,USD,NaN,NaN
19734,ZYT,ZYTRONIC PLC,United Kingdom,LSE,GBP,NaN,GB0006971013
19735,8295,ZZ CAPITAL INTERNATIONAL LTD,Hong Kong,SEHK,HKD,KYG9895T1085,KYG989MR1033

In [22]:
df_IB = df_IB.assign(**{'ISIN-IB': df_IB['ISIN-IB'].fillna(df_IB['ISIN-19.7'])})
df_IB

,Ticker,Name-IB,Country-IB,Exchange-IB,Currency-IB,ISIN-19.7,ISIN-IB
0,1ST,1ST GROUP LTD,Australia,ASX,AUD,NaN,AU0000001ST0
1,TWOU,2U INC,United States of America,NASDAQ,USD,NaN,NaN
2,DDDX,3DX INDUSTRIES INC,United States of America,PINK,USD,NaN,NaN
3,MMM,3M CO,Mexico,US Exchange,NaN,NaN,NaN
4,88E,88 ENERGY LTD,United Kingdom,LSE,GBP,AU00000088E2,AU00000088E2
...,...,...,...,...,...,...,...
19731,ZYNE,ZYNERBA PHARMACEUTICALS INC,United States of America,NASDAQ,USD,NaN,NaN
19732,ZYXI,ZYNEX INC,United States of America,NASDAQ,USD,NaN,NaN
19733,ZNGA,ZYNGA INC - CL A,Switzerland,NASDAQ,USD,NaN,NaN
19734,ZYT,ZYTRONIC PLC,United Kingdom,LSE,GBP,NaN,GB0006971013
19735,8295,ZZ CAPITAL INTERNATIONAL LTD,Hong Kong,SEHK,HKD,KYG9895T1085,KYG989MR1033

In [23]:
df = pd.merge(df_IB, df_inv, how='outer', on='Ticker')
df

,Ticker,Name-IB,Country-IB,Exchange-IB,Currency-IB,ISIN-19.7,ISIN-IB,Name,Exchange,Type,Market,ISIN,CUSIP
0,1ST,1ST GROUP LTD,Australia,ASX,AUD,NaN,AU0000001ST0,NaN,NaN,NaN,NaN,NaN,NaN
1,TWOU,2U INC,United States of America,NASDAQ,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DDDX,3DX INDUSTRIES INC,United States of America,PINK,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MMM,3M CO,Mexico,US Exchange,NaN,NaN,NaN,3M Company,NYSE,Equity,United States,US88579Y1010,88579Y101
4,88E,88 ENERGY LTD,United Kingdom,LSE,GBP,AU00000088E2,AU00000088E2,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19896,EDMCQ,NaN,NaN,NaN,NaN,NaN,NaN,Education Management Corp,OTC Markets,Equity,United States,US28140M1036,28140M103
19897,EDSFF,NaN,NaN,NaN,NaN,NaN,NaN,Exceed Company Ltd,OTC Markets,Equity,United States,VGG323351046,G32335104
19898,FALC,NaN,NaN,NaN,NaN,NaN,NaN,FalconStor Software Inc,OTC Markets,Equity,United States,US3061372096,306137209
19899,FBSI,NaN,NaN,NaN,NaN,NaN,NaN,First Bancshares Inc,OTC Markets,Equity,United States,US3186871006,318687100
19900,FFDF,NaN,NaN,NaN,NaN,NaN,NaN,FFD Financial Corp,OTC Markets,Equity,United States,US30243C1071,30243C107

In [24]:
df = df.assign(**{'ISIN': df['ISIN'].fillna(df['ISIN-IB'])})
df

,Ticker,Name-IB,Country-IB,Exchange-IB,Currency-IB,ISIN-19.7,ISIN-IB,Name,Exchange,Type,Market,ISIN,CUSIP
0,1ST,1ST GROUP LTD,Australia,ASX,AUD,NaN,AU0000001ST0,NaN,NaN,NaN,NaN,AU0000001ST0,NaN
1,TWOU,2U INC,United States of America,NASDAQ,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DDDX,3DX INDUSTRIES INC,United States of America,PINK,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MMM,3M CO,Mexico,US Exchange,NaN,NaN,NaN,3M Company,NYSE,Equity,United States,US88579Y1010,88579Y101
4,88E,88 ENERGY LTD,United Kingdom,LSE,GBP,AU00000088E2,AU00000088E2,NaN,NaN,NaN,NaN,AU00000088E2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19896,EDMCQ,NaN,NaN,NaN,NaN,NaN,NaN,Education Management Corp,OTC Markets,Equity,United States,US28140M1036,28140M103
19897,EDSFF,NaN,NaN,NaN,NaN,NaN,NaN,Exceed Company Ltd,OTC Markets,Equity,United States,VGG323351046,G32335104
19898,FALC,NaN,NaN,NaN,NaN,NaN,NaN,FalconStor Software Inc,OTC Markets,Equity,United States,US3061372096,306137209
19899,FBSI,NaN,NaN,NaN,NaN,NaN,NaN,First Bancshares Inc,OTC Markets,Equity,United States,US3186871006,318687100
19900,FFDF,NaN,NaN,NaN,NaN,NaN,NaN,FFD Financial Corp,OTC Markets,Equity,United States,US30243C1071,30243C107

In [25]:
df = df.rename(columns={"Name": "Name-Investing.com", "Exchange": "Exchange-Investing.com", "Type": "Type-Investing.com", "Market": "Market-Investing.com", "CUSIP": "CUSIP-Investing.com"})

In [26]:
df.head(50)

,Ticker,Name-IB,Country-IB,Exchange-IB,Currency-IB,ISIN-19.7,ISIN-IB,Name-Investing.com,Exchange-Investing.com,Type-Investing.com,Market-Investing.com,ISIN,CUSIP-Investing.com
0,1ST,1ST GROUP LTD,Australia,ASX,AUD,NaN,AU0000001ST0,NaN,NaN,NaN,NaN,AU0000001ST0,NaN
1,TWOU,2U INC,United States of America,NASDAQ,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DDDX,3DX INDUSTRIES INC,United States of America,PINK,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MMM,3M CO,Mexico,US Exchange,NaN,NaN,NaN,3M Company,NYSE,Equity,United States,US88579Y1010,88579Y101
4,88E,88 ENERGY LTD,United Kingdom,LSE,GBP,AU00000088E2,AU00000088E2,NaN,NaN,NaN,NaN,AU00000088E2,NaN
5,AQFD,A CLASSIFIED AD INC,NaN,VALUE,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7063,A DOT CO LTD,Japan,TSEJ,JPY,JP3160590000,JP3160590000,NaN,NaN,NaN,NaN,JP3160590000,NaN
7,AMKBY,A P MOLLER-MAERSK-B-UNSP ADR,United States of America,PINK,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,MLATV,A TOUTE VITESSE-ATV,France,SBF,EUR,NaN,FR0010050773,NaN,NaN,NaN,NaN,FR0010050773,NaN
9,AMRK,A-MARK PRECIOUS METALS INC,United States of America,NASDAQ,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,AMRK,AMIR MARKETING AND INVEST,Israel,TASE,ILS,NaN,IL0010922040,NaN,NaN,NaN,NaN,IL0010922040,NaN
11,AKH,A-TEC INDUSTRIES AG,NaN,VALUE,EUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5GZ,AA GROUP HOLDINGS LTD,Singapore,SGX,SGD,NaN,SG1S12926576,NaN,NaN,NaN,NaN,SG1S12926576,NaN
13,AACH,AAC HOLDINGS INC,United States of America,PINK,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2018,AAC TECHNOLOGIES HOLDINGS IN,Hong Kong,SEHK,HKD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2686,AAG ENERGY HOLDINGS LTD,Hong Kong,SEHK,HKD,KYG000371040,KYG000371040,NaN,NaN,NaN,NaN,KYG000371040,NaN
16,AAON,AAON INC,United States of America,NASDAQ,USD,NaN,NaN,AAON Inc,NASDAQ,Equity,United States,US0003602069,000360206
17,AAALY,AAREAL BANK AG-UNSPON ADR,United States of America,PINK,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,AARON,AARON INDUSTRIES LTD,India,NSE,INR,NaN,INE721Z01010,NaN,NaN,NaN,NaN,INE721Z01010,NaN
19,AAN,AARON'S INC,United States of America,NYSE,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,AAN,ATON RESOURCES INC,Canada,VENTURE,CAD,CA0496AP1036,CA0496AP1036,NaN,NaN,NaN,NaN,CA0496AP1036,NaN
21,AARTIDRUG,AARTI DRUGS LIMITED,India,NSE,INR,NaN,INE767A01016,NaN,NaN,NaN,NaN,INE767A01016,NaN
22,AARTIIND,AARTI INDUSTRIES LIMITED,India,NSE,INR,NaN,INE769A01020,NaN,NaN,NaN,NaN,INE769A01020,NaN
23,AAVAS,AAVAS FINANCIERS LTD,India,NSE,INR,NaN,INE216P01012,NaN,NaN,NaN,NaN,INE216P01012,NaN
24,ABDP,AB DYNAMICS PLC,United Kingdom,LSE,GBP,NaN,GB00B9GQVG73,NaN,NaN,NaN,NaN,GB00B9GQVG73,NaN
25,ABQQ,AB INTERNATIONAL GROUP CORP,United States of America,PINK,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,ABTO,AB&T FINANCIAL CORP,United States of America,PINK,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,ABP,ABACUS PROPERTY GROUP,Australia,ASX,AUD,AU000000ABP9,AU000000ABP9,NaN,NaN,NaN,NaN,AU000000ABP9,NaN
28,ABKI,ABAKAN INC,NaN,VALUE,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,ABAN,ABAN OFFSHORE LIMITED,India,NSE,INR,NaN,INE421A01028,NaN,NaN,NaN,NaN,INE421A01028,NaN
30,ATTBF,ABATTIS BIOCEUTICALS CORP,United States of America,PINK,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,ABAX,ABAXIS INC,NaN,VALUE,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,ABB,ABB INDIA LTD,India,NSE,INR,INE117A01022,INE117A01022,NaN,NaN,NaN,NaN,INE117A01022,NaN
33,ABB,ABB INDIA LTD,India,NSE,INR,INE117A01022,INE117A01022,NaN,NaN,NaN,NaN,INE117A01022,NaN
34,ABA,ABBA MEDIX GROUP INC,Canada,PURE,CAD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,ABA,ALBA SE,Germany,FWB,EUR,NaN,DE0006209901,NaN,NaN,NaN,NaN,DE0006209901,NaN
36,ABA,AUSWIDE BANK LTD,Australia,ASX,AUD,AU000000ABA1,AU000000ABA1,NaN,NaN,NaN,NaN,AU000000ABA1,NaN
37,ABBY,ABBEY PLC,United Kingdom,LSE,GBP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,ABBY,ABBY INC,United States of America,PINK,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,ABBOTINDI,ABBOTT INDIA LTD,India,NSE,INR,NaN,INE358A01014,NaN,NaN,NaN,NaN,INE358A01014,NaN
40,ABT,ABBOTT LABORATORIES,NaN,US Exchange,NaN,NaN,NaN,Abbott Laboratories,NYSE,Equity,United States,US0028241000,002824100
41,ABBV,ABBVIE INC,Mexico,NYSE,USD,US00287Y1091,US00287Y1091,NaN,NaN,NaN,NaN,US00287Y1091,NaN
42,2670,ABC-MART INC,Japan,TSEJ,JPY,JP3152740001,JP3152740001,NaN,NaN,NaN,NaN,JP3152740001,NaN
43,ABCE,ABCO ENERGY INC,United States of America,PINK,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,ABMBF,ABCOURT MINES INC -CL B,United States of America,PINK,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,ABNAF,ABEN RESOURCES LTD,United States of America,PINK,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,ABEO,ABEONA THERAPEUTICS INC,United States of America,NASDAQ,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,ANF,ABERCROMBIE & FITCH -CL A,NaN,US Exchange,NaN,NaN,NaN,Abercrombie & Fitch Company,NYSE,Equity,United States,US0028962076,002896207
48,AAIF,ABERDEEN ASIAN INCOME FUND L,United Kingdom,LSE,GBP,NaN,GB00B0P6J834,NaN,NaN,NaN,NaN,GB00B0P6J834,NaN
49,FCO,ABERDEEN GLOBAL INCOME FUND,United States of America,AMEX,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df.to_csv('Investing_IB_197.csv', index=False)